# Node modules directory
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test
.env.production

# Build output
build/

# Temporary files
tmp/
temp/

# IDE and editor files
.vscode/
*.njsproj

# Optional npm cache directory
.npm/

